<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="/"><h1 class="text-danger">dog hero</h1></a>

  <p class="text-danger" >eu ouvi passear?! Demorou!</p>

  <div class=" col-10" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link danger-text" href="<%= guardians_path %>">Guardians</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= pets_path %>">Pets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= heroes_path %>">Heroes</a>
      </li>
    </ul>
  </div>
</nav>