<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="/"><h1 class="text-danger">dog hero</h1></a>

  <p class="text-danger" >eu ouvi passear?! Demorou!</p>
</nav>